<div class="container">
	<main role="main mb-2">
		<section class="row m-2 justify-content-center mb-6">
			<div class="col-md-12">
				<div class="row mt-5 mb-5">
					<div class="col-sm-4">
						<div class="card cardIndex mt-2">
							<div class="card-body">
								<div class="text-center m-2 animate text-primary mt-4">
									<i class="fas fa-desktop fa-4x"></i>
								</div>
								<h4 class="card-title text-center">
									<strong>Compatibilidad con todos los dispositivos</strong>
								</h4>
								<p class="card-text pServicios">
									Nuestro servidor de IPTV es compatible con todos los
									dispositivos (preguntenos y con gusto le atenderemos). Los
									dispositivos que no están en la lista siempre se pueden
									admitir a pedido.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card cardIndex mt-2">
							<div class="card-body">
								<div class="text-center m-2 animate text-primary mt-4">
									<i class="fas fa-film fa-4x"></i>
								</div>
								<h4 class="card-title text-center">
									<strong>Disponibilidad de video 4k, HD y Full HD</strong>
								</h4>
								<p class="card-text text-center pServicios">
									Obtendrás acceso a +7 000 canales de Tv premiun en todo el
									mundo con los mejores eventos deportivos, películas, series y
									lo mejor en cálidad 4k, HD y Full HD
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card cardIndex mt-2">
							<div class="card-body">
								<div class="text-center m-2 animate text-primary mt-4">
									<i class="fab fa-whatsapp fa-4x"> </i>
								</div>
								<h4 class="card-title text-center">
									<strong
										>Contamos con un sistema de soporte disponible 24/7</strong
									>
								</h4>
								<p class="card-text text-center pServicios">
									Nuestro servicio de soporte está disponible las 24 horas del
									día, los 7 días de la semana, ¡todo lo que tiene que hacer es
									contactarnos para responder a cualquiera de sus preguntas!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="clearfix w-100 d-md-none pb-3 color-ligth" />
		</section>
	</main>
</div>
