<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="textService">En <strong>América Tv</strong> será un placer atenderte</h4>
                <p class="parrService">
                            Nuestro lema es la confianza y queremos estar en contácto contigo, dandote el mejor servicio, brindandote seguridad y rápidez.
                </p>
                <p class="parrService">Nuestros servicios de cálidad y años de experiencia nos consolidan como una de las mejores empresas en el area de servicio por cable y Tv digital, gracias
                    a nuestros sistemas de asistencia técnica que estan disponibles 24/7 
                </p>
            </div>
            <div class="col-md-6">
                <img src="/images/contactoB.jpg" class="img-fluid embed-responsive" height="200">
            </div>
        </div>
    </div>
    <!-- formulario -->
    <div class="container center">
        <div class="row mt-4">
            <div class="col-md-6 col-center">
                <div class="card shadow-lg p-2 pb-1 mb-5 bg-white">
                    <div class="card-header bg-info text-white text-center">
                        <h4>Estamos para ofrecerte lo mejor:</h4>
                    </div>
                    <div class="card-body pb-2">
                       <img src="/images/bussine.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col services-text">
                    <div class="col">
                    <img src="/images/contactenos.png" class="img-fluid" alt="Responsive image">
                </div>
                    <div class="col p-2 mb-3">
                        <h4 class="mt-2">Contáctenos:</h4>
                        <!-- Grid column -->
                        <h5>Puedes solicitar tu prueba gratis de 3 horas.</h4>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <div>
                                <p>WhatsApp:
                                    <a href="https://api.whatsapp.com/send?phone=50375806616&text=Hola%20buen%20día%20deseo%20una%20cotizacion%20de%20sus%20servicios" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>+(503) 7580-6616
                                            </span>
                                        </button>
                                    </a>
                                </p>
                                
                                <p>Teléfono:
                                    <a href="tel:50375806616" target="_blank">
                                        <button type="button" class="btn btn-info border-white">
                                            <span>
                                                <i class="fas fa-phone-alt mr-2"></i></i>+(503) 7580-6616
                                            </span>
                                        </button>
                                    </a>
                                </p>
                            </div>

                        </div>

                        </div>
                    </div>

                </div>
                

            </div>
        </div>
    </div>
    </div>
    <script src="/js/validate.js"></script>
    <%- include('../includes/end.ejs') %>