<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <img src="/images/familia.jpg" alt="Los mejores" class="img-responsive" width="100%" height="auto">
    </div>
    <div class="container">
        <div class="col">
					<div class="sppb-column-addons">
						<div class="flex">
							<div class="header text-center">
								<div>
									<h1 class="mt-2">
										<span
											>SOMOS LOS MEJORES PROVEEDORES DE IPTV CON CANALES EN 4K,
											HD.</span
										>
									</h1>
									<hr class="linea" />
								</div>
							</div>
							<div>
								<div>
									<h5 class="text-center">
										<strong
											>DISFRUTA +7 000 CANALES EN 4K, HD Y ULTRA HD.</strong
										>
									</h5>
								</div>
							</div>
							<div>
								<div class="text-center">
									<h3>UNETE A NOSOTROS</h3>
									<hr class="linea" />
								</div>
							</div>
							<div>
								<div class="text-center">
									<h6>
										Únete ya tendrás acceso a +7 000 canales de Tv, dónde
										podras ver eventos deportivos, películas y más.
									</h6>
								</div>
							</div>
                            <div>
                                <div class="text-center">
                                    <h4><strong>Pregunta por tu prueba gratís de 3 horas</strong></h4>
                                    <hr class="linea">
                                </div>
                            </div>
						</div>
					</div>
				</div>
    </div>

    <%- include('../includes/section.ejs') %>
    <div class="container">
        <div class="text-center mt-4">
            <h2 class="mt-2"><strong> <u>Planes/Servicios y Características.</u> </strong></h2>
            <hr class="linea">
        </div>

        <!-- lineas de SERVICOS -->
        <div class="row mt-2 mb-4 text-white">
            <!-- CARD DE 1 MES -->
            <div class="col-sm-4 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>Gold</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">10</span></strong>
                        <span class="tiempoCard">
                            / 1 mes
                        </span>
                        
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- CARD DE 6 MESES -->
            <div class="col-sm-4 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>Gold VIP</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">50</span></strong>
                        <span class="tiempoCard">
                            / 6 mes
                        </span>
                        
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- CARD DE 1 AÑO -->
            <div class="col-sm-4 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>Gold PREMIUN</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">80</span></strong>
                        <span class="tiempoCard">
                            / 1 año
                        </span>
                        
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5" style="display: flex">
            <div class="col-md-6 m-3">   
                <div class="row col banner">
                    <img src="/images/Amigos.jpg" class="img-responsive mostrandoImg" width="100%">

                    
                </div>          
            </div>
            <div class="col m-3">
                <div class="text-left mb-2"><h4>Deportes en vivo, películas y series. <span > <i class="fas fa-grip-lines"></i></span></h4>  </div>
                <div class="cold-md-4">
                    <h3 class="m-3 subtitle"> <span>Disfrutalo con tus mejores amigos</span> </h3>
                </div>
                <div class="m-3 text-element">
                    <p> <span style="font-size: 18px;">Con nuestra amplia y completa colección de canales de TV, nunca te pierdas tus juegos deportivos y programas de TV favoritos. Puedes ser el primero en ver tu nuevo episodio de tu serie de TV favorita.
                    </p>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="col mt-2 text-center"> <h5 class="font-weight-bold">Contáctanos:</h5></div>
                        <div class="col mt-3">
                            <a href="tel:50375806616" target="_blank">
                                        <button type="button" class="btn btn-info border-white">
                                            <span>
                                                <i class="fas fa-phone-alt mr-2"></i>+(503) 7580-6616
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="col mt-2 text-center"><h5 class="font-weight-bold">Whatsapp:</h5></div>
                        <div class="col mt-3">
                            <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>+(503) 7580-6616
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Soportado por el servicio -->
        <div class="text-center mt-4">
            <h2 class="mt-2"><strong>TODOS LOS SISTEMAS SOPORTADOS POR NUESTRO SERVICIOS: </strong></h2>
            <hr class="linea">
        </div>
        <div class="container">
            <img src="/images/Dispositivos_Soportados.png" alt="Suportados" class="img-responsive" width="100%" height="auto">
        </div>
        <div class="text-center m-4">
            <h4><strong>SERIES Y PELíCULAS</strong></h4>
            <p>Disfruta de una gran variedad de series y peliculas</p>
        </div>
        <div class="container mb-4">
            <img src="/images/Canales.png" alt="Canales" class="img-responsive" width="100%" height="auto">
            <hr>
        </div>
        <div class="container text-center">
            <div class="row mb-4">
            <div class="col">
                <p><strong style="font-size: 20px;">Estas preparado para disfrutar?</strong></p>
            </div>
            <div class="col">
                <div class="col">
                            <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>CONTÁCTANOS
                                            </span>
                                        </button>
                                    </a>
                        </div>
            </div>
        </div>
        </div>
        
    </div>

<%- include('../includes/end.ejs') %>