<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <img src="/images/Disfruta.jpg" alt="Canales Disponibles" class="img-responsive" width="100%" height="auto">
    </div>
    <div class="container">
        <div class="col">
					<div class="sppb-column-addons">
						<div class="flex">
							<div class="header text-center">
								<div>
									<h1 class="mt-2">
										<span
											>CONVIERTASE EN REVENDEDOR DE AMERICA TV.</span
										>
									</h1>
									<hr class="linea" />
								</div>
							</div>
							<div>
								<div>
                                    <p style="font-size: 18px;" class="text-center">NO DEJES PASAR LA OPORTUNIDAD DE CONVERTIRTE EN REVENDEDOR DE AMERICA TV.</p>
									<p style="font-size: 16px;" class="text-center">No pierdas la oportunidad de ver todos los eventos deportivos, películas y muchas series.</p>
								</div>
							</div>
                            <div>
                                <div class="text-center">
                                    <h5><strong>¿Qué se entiende por revendedor de IPTV?</strong></h5>
                                    <p style="font-size: 16px;">Es la persona que obtiene el panel de IPTV para crear y vender suscripciones de IPTV a sus clientes, a través de su panel de IPTV puede crear suscripciones de prueba gratuita, 1 mes, 3 meses, 6 meses y 1 año de IPTV.</p>
                                </div>
                                
                            </div>
							<div>
								<div class="text-center">
									<h3>UNETE A NOSOTROS</h3>
									<hr class="linea" />
								</div>
							</div>
							<div>
								<div class="text-center">
									<h6>
										Únete ya tendrás acceso a +7 000 canales de Tv, dónde
										podras ver eventos deportivos, películas y más.
									</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
    </div>
    <%- include('../includes/section.ejs') %>

    <!-- PLANES DE Revendedores -->
    <div class="container">
        <div class="text-center mt-4">
            <h2 class="mt-2"><strong> <u>Planes/Servicios y Características.</u> </strong></h2>
            <hr class="linea">
        </div>

        <!-- lineas de SERVICOS -->
        <div class="row mt-2 mb-3 text-white">
            <!-- CARD DE 1 MES -->
            <div class="col-sm-3 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>10 CRÉDITOS</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">30</span></strong>
                        <div class="text-center">
                        <p style="font-size: 25px;"><strong>Valor crédito</strong> <span style="font-size: 30px;">$3.00</span></p>
                    </div>
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- CARD DE 6 MESES -->
            <div class="col-sm-3 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>30 CRÉDITOS</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">75</span></strong>
                        
                    </div>
                    <div class="text-center">
                        <p style="font-size: 25px;"><strong>Valor crédito</strong> <span style="font-size: 30px;">$2.50</span></p>
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- CARD DE 1 AÑO -->
            <div class="col-sm-3 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>60 CRÉDITOS</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">120</span></strong>
                        
                    </div>
                    <div class="text-center">
                        <p style="font-size: 25px;"><strong>Valor crédito</strong> <span style="font-size: 30px;">$2.50</span></p>
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-2">
                <div class="card cardBg">
                    <div class="card-body">
                        <h3 class="card-title text-center"><span class="tituCard"><strong></strong>100 CRÉDITOS</span></h3>
                    </div>
                    <div class="text-center ePrecio">
                        <span class="signoDolar">
                            <span class="moveSignoDolar">$</span>
                        </span>
                        <strong><span class="precioCard">200</span></strong>
                        
                    </div>
                    <div class="text-center">
                        <p style="font-size: 25px;"><strong>Valor crédito</strong> <span style="font-size: 30px;">$2.00</span></p>
                    </div>
                    <div class=" card-text text-center p-3">
                        <ul class="listasCard p-3">
                            <li class="m-1"><span>√ +7 000 Canales de TV, Películas y Series</span></li>
                            <li class="m-1"><span>√ Cálidad de imagen 4K / Ultra HD / HD</span></li>
                            <li class="m-1"><span>√ Ponerte al día con los canales de noticias de todo el mundo</span></li>
                            <li class="m-1"><span>√ Eventos deportivos en vivo</span></li>
                            <li class="m-1"><span>√ Eventos de música de tus artistas favoritos</span></li>
                            <li class="m-1"><span>√ Canales de música y farandula</span></li>
                            <li class="m-1"><span>√ Sistema anticongelante</span></li>
                            <li class="m-1"><span>√ Todos los dispositivos son compatibles</span></li>
                            <li class="m-1"><span>√ Asistencia Técnica 24/7</span></li>
                            <li class="m-1"><span>√ Prueba gratís de 3 horas</span></li>
                        </ul>
                    </div>
                    <div class="card-text text-center mb-3">
                        <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                            <button type="button" class="btn btn-success border-white">
                                <span>
                                    <i class="fab fa-whatsapp mr-2"></i></i>SUSCRIBETE AHORA
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5" style="display: flex">
            <div class="col-md-6 m-3">   
                <div class="row col">
                    <img src="/images/negocios.jpg" class="img-responsive mostrandoImg" width="100%">

                    
                </div>          
            </div>
            <div class="col m-3">
                <div class="text-left mb-2"><h4>Ventajas de convertirse en revendedor de IPTV.</h4>  </div>
                <div class="cold-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">Nuestro panel de IPTV es muy fácil de acceder y usar.</li>
                        <li class="list-group-item">Ofrecemos los mejores precios a los revendedores.</li>
                        <li class="list-group-item">Ofreces a tus clientes un servicio de alto valor.</li>
                        <li class="list-group-item">Trabajar en IPTV Industry es muy fácil, flexible, cuando y donde quieras.</li>
                    </ul>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="col mt-2 text-center"> <h5 class="font-weight-bold">Contáctanos:</h5></div>
                        <div class="col mt-3">
                            <a href="tel:50375806616" target="_blank">
                                        <button type="button" class="btn btn-info border-white">
                                            <span>
                                                <i class="fas fa-phone-alt mr-2"></i>+(503) 7580-6616
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="col mt-2 text-center"><h5 class="font-weight-bold">Whatsapp:</h5></div>
                        <div class="col mt-3">
                            <a href="https://api.whatsapp.com/send?phone=50375806616text=Hola%20buen%20día%20deseo%20una%20suscripcion%20de%20cable%20TV" target="_blank">
                                        <button type="button" class="btn btn-success border-white">
                                            <span>
                                                <i class="fab fa-whatsapp mr-2"></i></i>+(503) 7580-6616
                                            </span>
                                        </button>
                                    </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>


<%- include('../includes/end.ejs') %>